<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SenDevops</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
        }
        h1 {
            color: #333;
            font-size: 3em;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome To SenDevops</h1>
    </div>
</body>
</html>
